* {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
}
.corpo{
        font-family: Helvetica, sans-serif;
        display: grid;
        grid-template-areas: 
                "cabecalho"
                "principal"
                "rodape";
        grid-template-rows: 40px 80vh 80px;
        grid-template-columns: 1;        
}   
.cabecalho{
        background-color: #212121;
        height: 40px;
        grid-area: cabecalho;
}
.piloto{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 5px;
     
}
.sinalizar{
      color: white;
      font-size: 25px;      
}
.nav{
        display: flex;
        margin-left: 10vw;
}
.list_passageiro{
        display: flex;
        list-style: none;       

}
.sub-list{
        display: flex;
        margin-left: 3px;
        width: 7vw;
        justify-content: space-around;
}
.link{
        color: #FFFFFF;
        text-decoration: none;
        font-size: 20px ;
        width: 7vw;
        text-align: center;
        background-color: #F9A825;
        border: 3px solid #F9A825 ;
        border-radius: 50px;
}
.link2{
        color: #FFFFFF;
        text-decoration: none;
        font-size: 20px ;
        width: 7vw;
        text-align: center;
        padding-top: 4px;
}
.link2:hover{
        background-color: red;
        border: 3px solid red ;
}
.principal{
        grid-area: principal;
}
.pai{
        display: flex;
        width: 40vw;
        height: 20vw;
        align-items: center;
        margin-left: 55vh;
        margin-top: 10% ;
        padding-right: 10px;
        padding-left: 10px;
}
.filho1{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right: 10px;
}
.filho2{
        display: flex;
        flex-direction: column;
        padding-top: 3vw;
        text-align: center;
        margin-left: 10px;
}
.barreira{
        border-right: 2px dashed #000;
}
.texto{
        color: #383838;
        text-align: center;
}
.input{
        border: 1px solid gray;
        padding: 10px;
        margin-bottom: 15px;
}
.botao{
        padding: 10px;
        border-radius: 10px;
        background-color: #F9A825 ;
        color: white;
        text-shadow: 1px 1px 1px gray;
        font-size: 15px;
}

.rodape{
        background-color: #212121;
        grid-area: rodape;
}
.rodape1{
        display: flex;
        flex-direction: column;       
}
.sub-rodape1{
      display: flex;
      align-self: center;
      margin-top: 40px;
}
.text{
        color: #FFFFFF;
        text-align: center;
        font-size: 22px;
}